<div class="side-top">
  <div class="user-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-bottom">
  <div class="menber">
    <div class="menber-list">
      <a href="#">room1</a>
    </div>
  </div>
  <div class="menber">
    <div class="menber-list">
      <a href="#">room2</a>
    </div>
  </div>
  <div class="menber">
    <div class="menber-list">
      <a href="#">room2</a>
    </div>
  </div>
  <div class="menber">
    <div class="menber-list">
      <a href="#">room2</a>
    </div>
  </div>
  <div class="menber">
    <div class="menber-list">
      <a href="#">room2</a>
    </div>
  </div>
  <div class="menber">
    <div class="menber-list">
      <a href="#">room2</a>
    </div>
  </div>
</div>